body {
    max-width: 960px;
    background-color: #363433;
    margin:0 auto;
    border:#232222;
  }
  header{border:2px solid #363535;}
  .login-conatainer{
    margin-left: 517px;
    padding: 7px;
  }
  .login {
    background-color: #323131;
    padding: 2px;
    margin-left: auto;
    border-bottom:2px solid #262525;
  }
  input {
    display: inline;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 1px;
  }
  .login-form {
    display: inline-block;
    padding: 0px 5px 0px 5px;
  }
  .login-btn {position: absolute;height: 25px;}
  .navbar {
    display: flex;
    background-color:transparent;
    padding: 12px 0px;
    border-bottom:1px solid #262525; 
  }
  .div-nav{margin-left: auto }
    .list-tab  {
    background-color:transparent;
    list-style-type: none;
    text-decoration:none;
    text-align:center;
    margin: 0;
    padding: 0;
    overflow: hidden;
   }
  .list-tab a {
    display:block;
    font-size: 15px;
    text-align:center;
    padding: 12px 12px;
    text-decoration:none;
    color: #e5a923;
  }
  li{float:left;}
  li a:hover{ background-color: #232222;}
  .center-img{border:2px solid #363535;}
  .img{
    width: 950px;
    height: 211px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 0px solid #363433;
    border-radius: 12px;
  }
  .main-content{border:2px solid #363535;
    display:flex;
    margin-left:auto;
  }
  h3{color:#e5a923;font-style: normal;}
  h4{color:aliceblue;font-style: normal;}
  .first-box{max-width:245px; float:left;}
  .block{
    display:flex;
    border:3px solid #232222;
    padding:2px 0px 2px 2px;
    color:aliceblue;
    font-size: x-small;
  }
  .text{padding:2px 0px 2px 6px;text-align: justify;color:#f8f4f4;font-style: italic;font-size: x-small;}
  .more-btn{
    max-width:300px;
    margin: 11px 147px;
  }
  .second-box{max-width: 288px;
  display:flex;flex-direction:column;margin: 0px 0px 20px 69px;}
  .block1{border:3px solid #232222;}
  .text-box{margin-bottom: 60px;text-align: justify;color:#f8f4f4;font-style: italic;font-size: small}

  
  .yellow-color{
    color:#e5a923;
    text-align: justify;

  }
  .list{
    list-style-type: none;
    display:inline-grid;
  }
  .footer{max-width: 960px;display:flex;background-color: #232222;border-top: 2px solid black;}
  .column1{margin-left: 20px;width:300px;font-style:italic;color:#e5a923;font-size: x-small;}
  .border{border-bottom:1px dotted #e5a923;float:left; }
@media screen and (max-width: 667px){
 body{max-width: 650px;    margin: 0 auto;}
.login{display: none;
}
.div-nav{display: none;}
.navbar{ padding: 0;}
.logo{ margin: 10px auto;}
.img{width: 100%;}
.main-content{display: inline-grid;}
.first-box{width: 100%;}
.second-box { width: 100%;margin: 0 auto;}
.block1{border: none;}
}